{% extends 'base.html.twig' %}

{% block title %}Hello CircuitController!{% endblock %}

{% block body %}
    <h1>Circuits</h1>
    {% if app.user %}
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Description Circuit</th>
                <th scope="col">Code Circuit</th>
                <th scope="col">Duree</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for i in circuit %}
                <tr class="table-success">
                    <th scope="row">{{i.DesCircuit}}</th>
                    <td>{{i.CodeCircuit}}</td>
                    <td>{{i.DureeCircuit}}</td>
                    <td><a class="btn btn-danger" href="{{ path('deletecircuit',{'id':i.id}) }}"><svg class="bi bi-trash-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                            </svg></a>
                        <a class="btn btn-success" href="{{ path('editercircuit',{'id':i.id}) }}"><svg class="bi bi-pencil" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                            </svg></a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('ajouterCircuit') }}"><svg class="bi bi-plus-square-fill" width="3em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
            </svg></a>
    </div>
    {% else %}
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Description Circuit</th>
            <th scope="col">Code Circuit</th>
            <th scope="col">Duree</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for i in circuit %}
            <tr class="table-success">
                <th scope="row">{{i.DesCircuit}}</th>
                <td>{{i.CodeCircuit}}</td>
                <td>{{i.DureeCircuit}}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('editercircuit',{'id':i.id}) }}"><svg class="bi bi-map" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15.817.613A.5.5 0 0 1 16 1v13a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 14.51l-4.902.98A.5.5 0 0 1 0 15V2a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0l4.902.98 4.902-.98a.5.5 0 0 1 .415.103zM10 2.41l-4-.8v11.98l4 .8V2.41zm1 11.98l4-.8V1.61l-4 .8v11.98zm-6-.8V1.61l-4 .8v11.98l4-.8z"/>
                        </svg></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
